<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleGetInfoString</key>
  <string>Overrides the LEDs of the APC Controller when used to control tracks in Ableton.</string>
  <key>CFBundleExecutable</key>
  <string>apc-exe</string>
  <key>CFBundleIdentifier</key>
  <string>co.salt.www</string>
  <key>CFBundleIconFile</key>
  <string>apc</string>
  <key>CFBundleName</key>
  <string>APC Mini</string>
  <key>CFBundleShortVersionString</key>
  <string>0.01</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>IFMajorVersion</key>
  <integer>0</integer>
  <key>IFMinorVersion</key>
  <integer>1</integer>
</dict>
</plist>
